.advantages{
    padding-top: 100px;
    @media #{$big_mobile}{
        padding-top: 40px;
    }
    .advantages_block{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        .advantages_item{
            border-radius: 10px;
            border: 1px solid #EDEDED;
            // width: 390px;
            width: calc(25% - 15px);
            height: 220px;
            display: flex;
            flex-direction: column;
            padding: 30px 0 30px 30px;
            justify-content: space-between;
            @media #{$big_laptop}{
                padding: 20px 20px 20px 20px;
                height: 200px;
            }
            @media #{$small_laptop}{
                width: calc(33.33% - 13.33px);
                height: 180px;
            }
            @media #{$tab}{
                width: calc(50% - 10px);
            }
            @media #{$small_tab}{
                width: 100%;
                padding: 30px;
                height: 190px;
            }
            &.grey_item{
                background-color: #F7F7FA;
            }
            .advantages_item_title{
                color: #353641;
                font-size: 20px;
                font-weight: 400;
                line-height: normal;
                text-transform: lowercase;
                @media #{$middle}{
                    font-size: 18px;
                }
                @media #{$big_laptop}{
                    font-size: 16px;
                }
            }
            img{
                max-width: 76px;
                // max-height: 76px;
                object-fit: contain;
                @media #{$middle}{
                    max-width: 65px;
                }
                @media #{$big_laptop}{
                    max-width: 55px;
                }
                @media #{$small_tab}{
                    max-width: 67px;
                }
            }
        }
        &.mob{
            display: none;
            @media #{$small_tab}{
                display: block;
                margin-bottom: 40px;
                .swiper-wrapper{
                    padding-bottom: 50px;
                }
                .swiper-button-prev, .swiper-button-next{
                    display: none;
                }
            }
        }
        &.desc{
            @media #{$small_tab}{
                display: none;
            }
        }
    }
}
.optimization_box{
    background-image: url(../imgs/optimization_bg.png);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px;
    justify-content: space-between;
    @media #{$tab}{
        padding: 20px;
    }
    @media #{$small_tab}{
        flex-direction: column;
        gap: 30px;
        align-items: start;
    }
    &.mob{
        display: none;
        @media #{$small_tab}{
            display: flex;
        }
    }
    .optimization_sp_ic{
        border-radius: 6.512px;
        background: #E94628;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 112px;
        height: 112px;
        flex: 0 0 auto;
        @media #{$big_laptop}{
            width: 90px;
            height: 90px;
            padding: 18px;
        }
        @media #{$small_laptop}{
            width: 70px;
            height: 70px;
            padding: 12px;
        }
        @media #{$tab}{
            width: 50px;
            height: 50px;
            padding: 10px;
        }
        @media #{$small_tab}{
            width: 84px;
            height: 84px;
        }
        img{
            max-width: 80px;
            object-fit: contain;
            @media #{$big_laptop}{
                max-width: 60px;
                width: 100%;
            }
        }
    }
    .optimization_text{
        color: #FFF;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; /* 125% */
        display: flex;
        align-items: center;
        gap: 30px;
        @media #{$middle}{
            font-size: 24px;
            width: 70%;
            br{
                display: none;
            }
        }
        @media #{$big_laptop}{
            font-size: 20px;
            width: 64%;
        }
        @media #{$small_laptop}{
            font-size: 18px;
            gap: 20px;
        }
        @media #{$tab}{
            font-size: 14px;
            gap: 15px;
            line-height: 25px;
        }
        @media #{$small_tab}{
            font-size: 20px;
            flex-direction: column;
            gap: 30px;
            align-items: start;
            width: 100%;
        }
    }
}