.footer_top{
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #111;
    @media #{$small_tab}{
        padding-bottom: 40px;
    }
    .footer_block{
        display: flex;
        justify-content: space-between;
        @media #{$tab}{
            flex-wrap: wrap;
            gap: 70px;
            justify-content: start;
        }
        @media #{$small_tab}{
            gap: 30px 40px;
        }
        .footer_logo{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media #{$small_tab}{
                width: 100%;
                gap: 30px;
            }
            a{
                img{
                    @media #{$big_laptop}{
                        max-width: 150px;
                    }
                }
            }
        }
        .f_address{
            color: rgba(255, 255, 255, 0.30);
            font-family: 'Montserrat';
            font-size: 20px;
            font-weight: 500;
            line-height: normal;
            @media #{$big_laptop}{
                font-size: 17px;
            }
            @media #{$tab}{
                font-size: 20px;
            }
            &.mob{
                display: none;
                @media #{$small_tab}{
                    display: block;
                    width: 100%;
                }
            }
            &.desc{
                @media #{$small_tab}{
                    display: none;
                }
            }
        }
        .footer_actions{
            display: flex;
            flex-direction: column;
            gap: 20px;
            @media #{$tab}{
                order: 3;
            }
            li{
                display: flex;
                flex-direction: column;
                gap: 5px;
                a{
                    color: #FFF;
                    font-family: 'Montserrat';
                    font-size: 24px;
                    font-weight: 600;
                    line-height: normal;
                    @media #{$big_laptop}{
                        font-size: 20px;
                    }
                    @media #{$tab}{
                        font-size: 24px;
                    }
                }
                span{
                    color: rgba(255, 255, 255, 0.30);
                    font-family: 'Montserrat';
                    font-size: 20px;
                    font-weight: 500;
                    line-height: normal;
                    @media #{$big_laptop}{
                        font-size: 17px;
                    }
                    @media #{$tab}{
                        font-size: 20px;
                    }
                }
            }
        }
        .footer_menu{
            display: flex;
            flex-direction: column;
            gap: 16px;
            li{
                &:first-child{
                    a{
                        color: rgba(255, 255, 255, 0.30);
                    }
                }
                a{
                    color: #FFF;
                    font-family: 'Montserrat';
                    font-size: 20px;
                    font-weight: 500;
                    line-height: normal;
                    @media #{$big_laptop}{
                        font-size: 17px;
                    }
                    @media #{$tab}{
                        font-size: 20px;
                    }
                }
            }
        }
        .footer_btns{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 40px;
            @media #{$tab}{
                order: 4;
            }
            @media #{$small_tab}{
                gap: 30px;
            } 
            .footer_btns_top{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .h_btn{
                    &:first-child{
                        background-color: #FF2E07;
                    }
                }
            }
            .footer_btns_bottom{
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: end;
                @media #{$small_tab}{
                    justify-content: start;
                }
                .f_circle{
                    width: 74px;
                    height: 74px;
                    border-radius: 50%;
                    background-color: #212121;
                }
            }
        }
        .h_btn{
            font-family: 'Montserrat';
            @media #{$tab}{
                font-size: 20px;
            }
        }
    }
}
.footer_bottom{
    padding: 30px 0;
    background-color: #212121;
    .footer_block{
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media #{$tab}{
                flex-direction: column;
                gap: 30px;
                align-items: start;
            }
            @media #{$small_tab}{
                gap: 10px;
            }
            li{
                a{
                    color: rgba(255, 255, 255, 0.30);
                    font-family: 'Montserrat';
                    font-size: 20px;
                    font-weight: 400;
                    line-height: normal;
                    @media #{$big_laptop}{
                        font-size: 17px;
                    }
                    @media #{$tab}{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}