header{
    background-color: #111;
    height: 100px;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    @media #{$big_laptop}{
        height: auto;
        padding: 20px 0;
        display: block;
    }
    @media #{$big_mobile}{
        padding: 14px 0;
    }
    .header_block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 60px;
        .header_logo{
            @media #{$big_mobile}{
                max-width: 93px;
                svg{
                    @media #{$big_mobile}{
                        width: 100%;
                    }
                }
            }
        }
        .header_nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 60px;
            &.mob{
                display: none;
                @media #{$big_laptop}{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 25px;
                    height: 90%;
                }
            }
            .header_menu{
                display: flex;
                align-items: center;
                gap: 40px;
                &.desc{
                    @media #{$big_laptop}{
                        display: none;
                    }
                }
                &.mob{
                    display: none;
                    @media #{$big_laptop}{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }
                }
                li{
                    a{
                        color: #FFF;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
            .header_actions{
                display: flex;
                align-items: center;
                gap: 10px;
                &.desc{
                    @media #{$big_laptop}{
                        display: none;
                    }
                }
                &.mob{
                    display: none;
                    @media #{$big_laptop}{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }
                    @media #{$big_laptop}{
                        li:first-child{
                            display: flex;
                            padding-right: 0;
                            gap: 15px;
                        }
                    }
                }
                li:first-child{
                    display: flex;
                    flex-direction: column;
                    padding-right: 10px;
                    @media #{$middle}{
                        display: none;
                    }
                    a{
                        color: #FFF;
                        // leading-trim: both;
                        // text-edge: cap;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
        .menu_bars{
            display: none;
            @media #{$big_laptop}{
                display: flex;
            }
            @media #{$big_mobile}{
                svg{
                    width: 24px;
                    height: 24px;
                }
            }
        }
        .h_menu_mob{
            display: none;
            @media #{$big_laptop}{
                &.show{
                    display: block;
                    background-color: #111;
                    width: 100%;
                    height: calc(100% - 76px);
                    position: fixed;
                    // left: 0;
                    right: 0;
                    bottom: 0;
                    max-width: 400px;
                    z-index: 100;
                    @media #{$big_mobile}{
                        left: 0;
                        max-width: 100%;
                    }
                    .h_btn{
                        padding: 14px 30px;
                    }
                }
            }
        }
    }
}
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 51;
    animation: fadeIn 0.3s ease-in-out;
    @media #{$big_laptop}{
        &.show{
            display: block;
        }
    }
}
/* Animation for fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}