$middle: '(max-width: 1620px)';

$big_laptop: '(max-width: 1440px)';

$small_laptop: '(max-width: 1200px)';

$tab: '(max-width: 1024px)';

$big_tab: '(max-width: 992px)';

$small_tab: '(max-width: 768px)';

$big_mobile: '(max-width: 576px)';

$mobile: '(max-width: 480px)';

$small_mobile: '(max-width: 420px)';

$smaller_mobile: '(max-width: 380px)';